In [1]:
#1. What is a database? Differentiate between SQL and NoSQL databases.

#Database : Collection of Data that is organized and stored in a way that makes it easy to access , manage and update. 
# It can used to store a wide range of info. including customer ,financial records ,inventory data.
# SQL and NoSQL are two diff. types of database 
# SQL databases or Relational databases ,use a structured data model based on tables that are linked together using relationships. 
# SQL (Structured Query Language) to access and manipulate data. E.g. MySQL, Oracle, and SQL server.

#No SQL/Non-relational database model that allows for greater flexibility and scalability. 
#NoSQL database do not use tables and relationships but instead use document-oriented or key-value data stores. 
#Used for big data and real-time web applications. E.g.  MongoDB, Cassandra, Redis.

In [2]:
#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#DDL stands for Data Definition Language and refers to asset of 
#SQL commands used to define and manipulate the structure of a database.
#DDL commands are used to create, modify, and delete database objects such as tables, indexes,views,and procedures.
#Examples: 1. CREATE: Used ton create new database objects such as table, view, or index. 
#E.g. To create a new table called “employees” with columns ID, name, and salary,
#CODE: CREATE TABLE employees ( id INT PRIMARY KEY , name VARCHAR(50) , salary DECIMAL(10,2) );

#DROP : This command is used to delete a database object.
#For example, to delete the "employees" table we just created, we could use the following SQL command:
#CODE: DROP TABLE employees;

#ALTER: This command is used to modify the structure of an existing database object, such as a table or view. 
#For example, to add a new column called "department" to the "employees" table, we could use the following SQL command:
#CODE: ALTER TABLE employees ADD department VARCHAR (50);

#TRUNCATE: This command is used to delete all data from a table, but not the table structure itself. 
#For example, to remove all records from the "employees" table, we could use the following SQL command:
#	CODE : TRUNCATE TABLE employees;

In [3]:
#3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#DML stands for Data Manipulation Language and refers to a set of SQL commands used to modify data within a database.
#DML commands are used to insert, update, and delete data in database tables.

#INSERT: This command is used to add new data to a table.
#For example, to insert a new record into the "employees" table we created earlier, we could use the following SQL command:
#CODE : INSERT INTO employees (id, name, salary, department) VALUES (1, 'John Smith', 50000, 'Sales');

#UPDATE: This command is used to modify existing data in a table. 
#For example, to update the salary of the employee with ID 1 to 60000, we could use the following SQL command:
#CODE : UPDATE employees SET salary = 60000 WHERE id = 1;

#DELETE: This command is used to delete data from a table. 
#For example, to delete the employee with ID 1 from the "employees" table, we could use the following SQL command:
#CODE : DELETE FROM employees WHERE id = 1;

In [4]:
#4. What is DQL? Explain SELECT with an example.

#DQL stands for Data Query Language and refers to a set of SQL commands used to retrieve data from a database.
#DQL commands are used to query database tables and retrieve specific data based on specified criteria.
	
#SELECT: This command is used to retrieve data from one or more database tables. 
#For example, to retrieve all records from the "employees" table, we could use the following SQL command:
#CODE : SELECT * FROM employees;
	
#This command would retrieve all records from the "employees" table and return them as a result set.
#For example, to retrieve only the names and salaries of all employees in the "sales" department, we could use the following SQL command:
#CODE : SELECT name, salary FROM employees WHERE department = 'Sales';

In [5]:
#5. Explain Primary Key and Foreign Key.
	
#Primary Key: A primary key is a unique identifier for a record in a table. 
#It is a column or set of columns that uniquely identifies each row in the table. 
#The primary key is used to ensure that each record in the table is unique and to establish relationships between tables.
#It is typically used as a reference by foreign keys in other tables.

#For example, in a table of employees, the primary key might be the employee ID column. 
#Each employee would have a unique employee ID, which could be used as a reference by foreign keys in other tables,
#such as a table of employee salaries.

#Foreign Key: A foreign key is a column in a table that refers to the primary key of another table. 
#It is used to establish relationships between tables by linking data from one table to data in another table. 
#The foreign key ensures that the data being referenced is valid and that referential integrity is maintained.
	
#For example, if we have a table of employee salaries, we might have a column that refers to the primary key of the employee table. 
#This column would be the foreign key, and it would ensure that each employee's salary is 
#associated with the correct employee record in the employee table.

In [10]:
#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

import mysql.connector
# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object to execute SQL queries
mycursor = mydb.cursor()

# Execute a SELECT query
mycursor.execute("SELECT * FROM employees")

# Fetch all rows from the result set
myresult = mycursor.fetchall()

# Print the rows
for row in myresult:
  print(row)



#import the mysql.connector module, which allows us to connect to a MySQL database from Python.
#We then establish a connection to the MySQL database using the mysql.connector.connect() method 
#and pass in the necessary connection details such as the host, username, password, and database name.

#we create a cursor object using the cursor() method of the connection object. 
#The cursor object is used to execute SQL queries and retrieve data from the database.
#We then execute a SELECT query using the execute() method of the cursor object. 
#The query is passed as a parameter to the execute() method.
#After executing the query, we fetch all rows from the result set using the fetchall() method of the cursor object.
#This method returns a list of tuples, where each tuple represents a row from the result set.

ModuleNotFoundError: No module named 'mysql'

In [ ]:
#7. Give the order of execution of SQL clauses in an SQL query.

#FROM: The FROM clause specifies the table or tables from which to retrieve data. 
#It is the first clause to be executed in a SELECT statement.

#WHERE: The WHERE clause filters the data based on specified conditions. It is executed after the FROM clause.

#GROUP BY: The GROUP BY clause groups the data based on specified columns. It is executed after the WHERE clause.

#HAVING: The HAVING clause filters the grouped data based on specified conditions. It is executed after the GROUP BY clause.

#SELECT: The SELECT clause retrieves the data from the specified columns. It is executed after the WHERE, GROUP BY, and HAVING clauses.

#ORDER BY: The ORDER BY clause sorts the data based on specified columns. It is executed after the SELECT clause.

#LIMIT/OFFSET: The LIMIT and OFFSET clauses limit the number of rows returned by the query.
#They are executed last, after all other clauses have been executed.